MONGODB_URI=mongodb+srv://24eg105f19_db_user:MongoDBAtlas@blog-cluster.idkyycu.mongodb.net/?appName=db1
JWT_ACCESS_SECRET=your_super_secret_access_key_change_this_in_production
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_this_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
GEMINI_API_KEY=your_gemini_api_key_here
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760
